<!DOCTYPE html>
<html>
	<head>
		<%- include('../includes/head'); %>
	</head>
	<body>
		<%- include('../includes/header'); %>
		<div class="section settings light-theme">
			<div class="container">
				<form method="POST", action="/<%= user.username %>" class="form">
					<h2>Settings</h2>
					<div class="settings-section">
						<h4>Account</h4>
						<div class="form-group">
							<label>Username</label>
							<input type="text" name="username" placeholder="<%= user.username %>" />
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" name="email" placeholder="<%= user.email %>" />
						</div>
						<div class="form-group">
							<input type="submit" value="Update" name="submit" class="button button-default button-dark save" />
						</div>
					</div>
					<div class="settings-section">
						<div class="success">
							<a href="/"><span data-id="<%= user.username%>" class="button button-default button-dark button-danger delete">Delete account</span></a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<%- include('../includes/footer'); %>
	</body>
</html>